<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <add key="SERVER" value="192.168.20.5"/>
    <add key="BD" value="Papertech2013"/>
    <add key="EMPRESA" value="Papertech"/>
    <add key="USUARIO" value="lcsFfoWDWJ0bO20ggV4cUA=="/>
    <add key="CONTRASEÑA" value="43j/igFsLwa3n/FZJ99GoidDKepZVHBnMw6d5uI4Fgc="/>
    <add key="LOG" value="C:\NAVISION\Reclamaciones\Log.txt"/>
  </appSettings>
</configuration>
